################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Building Cost 0.5 III
/.vs/Eve/v14
/Release
